/* styles.css */

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 40px;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #ddd;
  border-top: 5px solid #edbc26; /* синій */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
