.loader-wrapper-mini {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.loader-mini {
  width: 16px;
  height: 16px;
  border: 3px solid #ddd;
  border-top: 3px solid #33e72d; /* синій */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
